@import '~styles/settings';

.default {
  width: 100%;

  @media #{$tablet-portrait} {
    width: 270px;
  }
}

.white {
  @extend .default;

  color: $theme-color;
  background-color: $white;
}

.primary {
  @extend .default;

  color: $white;
  background-color: $action-color;
}
