@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

.section {
  background-color: $action-color;
  background-image: linear-gradient(282deg, #007533, #005d28);

  &.financial {

  }
}

.stickyWrapper {
  max-height: 34px;

  :global {
    .sticky-inner-wrapper {
      background-color: $action-color;
    }
  }
}

.row {
  @include row();
}

.nav {
  display: flex;
  padding-top: $gutter-padding / 2;
}

.sectionTitle {
  color: $white;
  font-size: $font-size-xl-large;
  font-weight: 300;
  line-height: 1.19;
  letter-spacing: -1.3px;
  padding-top: $gutter-padding * 2;
  padding-bottom: $gutter-padding * 3;
}
