@import "~styles/settings.scss";

.sectionTitle {
  font-family: $font-family-1;
  font-size: $font-size-large;
  color: $theme-color;
  margin-bottom: $gutter-padding;
  margin-top: $gutter-padding * 2;
}
