@import '~styles/settings.scss';
@import '~styles/layout.scss';

.row {
  @include row();

  justify-content: center;
}

.section {
  background-color: $porcelain;
  padding: $gutter-padding 0;
}

.ndcContainer {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns(6);
  }

  .ndcImage {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    padding-bottom: $gutter-padding;
    display: block;

    @media #{$tablet-landscape} {
      padding-bottom: 0;
    }
  }

  .ndcTextContainer {
    padding-left: $gutter-padding;

    .ndcDescription {
      color: $midnightblue;
      padding-bottom: $gutter-padding;
      line-height: $line-height;
    }
  }

  .learnMoreButton {
    background-color: $theme-color;
    width: 100%;

    @media #{$tablet-portrait} {
      width: 270px;
    }
  }
}
