@import '~styles/layout.scss';
@import '~styles/settings.scss';

.flagshipComponents {
  @include row();
  li {
    list-style-type: none;
    &::before {
      content: "-";
   }
  }
}

.flagshipButtons {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 0 17px 17px 0;
  }
}
