@import 'settings';

:global {
  .global_SATooltip {
    font-family: $font-family-3;
    padding: 15px;
    font-size: $font-size-xs;
    letter-spacing: -0.1px;
    box-shadow: 0 5px 15px 0 rgba(17, 55, 80, 0.15);

    &.__react_component_tooltip.type-dark {
      color: $theme-color;
      background-color: $white;
    }

    &::after { // Hides the arrow
      display: none;
    }
  }

  .global_SATMittigationTooltip {
    @extend .global_SATooltip;

    .multi-line{
      &:first-child {
        color: $dark-gray;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:nth-child(2) {
        color: $dark-gray;
        margin-bottom: 8px;
      }
      &:nth-last-child(-n+2) {
        font-weight: bold;
      }
    }
  }

  .global_blueTooltip {
    padding: 15px;
    font-size: $font-size-xs;

    &.__react_component_tooltip.type-dark {
      color: $theme-color;
      background-color: $pale-gray;

      &::after {
        border-top-color: $pale-gray;
      }
    }
  }
}
