@import '~styles/settings.scss';
@import '~styles/layout.scss';

.section {
  padding-top: 0;
  padding-bottom: 60px;

  @media #{$tablet-landscape} {
    padding-top: 60px;
    padding-bottom: 0;

    &.extraPadding {
      padding-top: 110px;
      padding-bottom: 120px;
    }
  }
}

.row {
  @include row();

  @media #{$tablet-landscape} {
    height: 700px;
  }
}

.introTextContainer {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns(10);
  }

  padding-top: $gutter-padding;
  flex-wrap: nowrap;
  position: relative;

  @media #{$tablet-landscape} {
    padding-top: 120px;
  }
}

.introText {
  @media #{$tablet-landscape} {
    @include column-offset(1);
  }

  color: $white;
  font-size: $font-size-large;
  line-height: 1.5;
}

.cardsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-bottom: 0;

  > div {
    @include xy-gutters($gutter-position: ('top', 'bottom'));

    &:last-child {
      .card {
        margin-right: 0;
      }
    }
  }

  @media #{$tablet-landscape} {
    @include columns(4);

    margin-bottom: -320px;
  }
}

.card {
  margin-right: $gutter-padding;

  @media #{$tablet-landscape} {
    margin-right: 0;
  }
}

.cardContent {
  padding: 15px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: $font-family-1;
  font-size: $font-size-s;
}
