@import '~styles/layout.scss';

.columns {
  @include columns(2);

  align-items: flex-end;
}

.buttonGroupWrapper {
  @include column-offset(4);

  width: 90px;
}

.contentContainer {
  @include columns(6);
  margin-top: $gutter-padding;
  position: relative;
}

.chartContainer {
  display: flex;
  justify-content: center;

  :global {
    .chartTooltip {
      font-family: $font-family-2;
      padding: 15px;
      color: $theme-color;
      background-color: $white;
      font-size: $font-size-xs;
      letter-spacing: -0.1px;
      box-shadow: 0 5px 15px 0 rgba(17, 55, 80, 0.15);

      &::after { // Hides the arrow
        display: none;
      }
    }
  }
}

.infoContainer {
  display: flex;
  align-items: center;
}

.label {
  font-family: $font-family-1;
  font-size: $font-size;
  color: $theme-color;
  font-weight: $font-weight-bold;
}

.text {
  font-family: $font-family-1;
  font-size: $font-size;
  color: $theme-color;
  margin-bottom: $gutter-padding;
}

.policy {
  font-family: $font-family-1;
  font-size: $font-size-large;
  color: $theme-color;
  margin-bottom: $gutter-padding;
}