@import '~styles/layout.scss';

.row {
  @include row();
}

.dropdownWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $gutter-padding;
}

.dropdown {
  margin-right: $gutter-padding / 2;
  width: 200px;

  @media #{$tablet-landscape} {
  }
}
