@import '~styles/layout.scss';
@import '~styles/settings.scss';

.flagshipDetail {
  @include row();
}

.text {
  line-height: $line-height-m;
}

.twoColumns {
  columns: 2;
  text-align: justify;
}

.blueCard {
  background-color: $porcelain;
  padding: 40px 26px 40px 18px;
  margin-bottom: $gutter-padding;
  width: 242px;
  height: 156px;
  border-radius: 3px;
}

.flagshipButtons {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 0 17px 17px 0;
  }
}
