@import '~styles/settings.scss';
@import '~styles/layout.scss';

.cardsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-bottom: 0;

  > div {
    @include xy-gutters($gutter-position: ('top', 'bottom'));

    &:last-child {
      .card {
        margin-right: 0;
      }
    }
  }

  @media #{$tablet-landscape} {
    @include columns(4);

    margin-bottom: -320px;
  }
}

.card {
  margin-right: $gutter-padding;

  @media #{$tablet-landscape} {
    margin-right: 0;
  }
}

.cardContent {
  padding: 15px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: $font-family-1;
  font-size: $font-size-s;
}
