@import '~styles/settings.scss';
@import '~styles/layout.scss';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gutter-padding;
}

.dropdown {
  margin-bottom: 50px;

  @media #{$tablet-landscape} {
    width: 200px;
    margin-bottom: 0;
  }
}