@import '~styles/settings.scss';
@import '~styles/layout.scss';

.flagshipContainer {
  @include row();
}

.flagshipProgrammesTitle {
  font-family: $font-family-1;
  font-size: $font-size-large;
  color: $theme-color;
  margin-bottom: $gutter-padding;
}

.container {
  height: 700px;

  @media #{$tablet-portrait} {
    height: 1080px;
  }

  @media #{$tablet-landscape} {
    height: 600px;
  }
}

.title {
  display: none;
}

.grid {
  @include xy-grid($wrap: true);

  height: 100%;

  @media #{$tablet-landscape} {
    @include xy-grid($direction: 'vertical', $wrap: true);
  }

  > a {
    @include xy-cell(6, $gutters: 0);
    @include xy-cell(25%, $gutters: 0, $vertical:true);

    @media #{$tablet-portrait} {
      @include xy-cell(6, $gutters: 0);
      @include xy-cell(33.333333%, $gutters: 0, $vertical:true);
    }

    @media #{$tablet-landscape} {
      @include xy-cell(3, $gutters: 0);
      @include xy-cell(50%, $gutters: 0, $vertical:true);
    }
  }
}
