<!DOCTYPE html>
<html>
  <head>
    <title>Country Platform on South Africa’s Biennial Update Report on Climate Change</title>
    <%= csrf_meta_tags %>

    <%# Favicons %>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
     
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if @is_production %>
      <%= stylesheet_pack_tag 'main' %>
    <% end %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'main' %>
  </body>
</html>
