<!DOCTYPE html>
<html>
  <head>
    <title>Country Platform on South Africa’s Biennial Update Report on Climate Change</title>
    <%= csrf_meta_tags %>
     
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if @is_production %>
      <%= stylesheet_pack_tag 'main' %>
    <% end %>
    
    <link rel="shortcut icon" href="http://www.iconj.com/ico/2/7/2740u33ncy.ico" type="image/x-icon" />
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'main' %>
  </body>
</html>
